<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="blocks/head :: head"></head>
<body>
<header>
    <title> Редактирование фильма </title>
</header>

<div class="container-fluid">
    <div class="row row-main">
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">

            <nav id="sidebarMenu" th:insert="blocks/sidebarMenu :: sidebarMenu"></nav>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="container mt-5 mb-5">
                    <h1>Редактирование информации о фильме</h1>
                    <form method="post" enctype="multipart/form-data" class="edit-film">
                        <div th:each="el: ${film}">

                            <br><input type="text" th:value="${el.nameFilm}" name="nameFilm"
                                       placeholder="Введите название фильма" class="form-control">
                            <br><input type="text" th:value="${el.stars}" name="stars"
                                       placeholder="Введите количество звезд" class="form-control">
                            <br><input type="date" th:value="${el.releaseDate}" name="releaseDate" pattern="yyyy-MM-dd"
                                       placeholder="Введите дату выхода"
                                       class="form-control">
                            <br><input type="text" th:value="${el.genre}" name="genre" placeholder="Введите жанр"
                                       class="form-control">
                            <br><input type="text" th:value="${el.distributor}" name="distributor"
                                       placeholder="Введите дистрибьютора" class="form-control">
                            <br><input type="text" th:value="${el.countViewer}" name="countViewer"
                                       placeholder="Введите количество экранов"
                                       class="form-control">
                            <br><input type="text" th:value="${el.countShows}" name="countShows"
                                       placeholder="Введите количество показов"
                                       class="form-control">
                            <br><input type="text" th:value="${el.countFees}" name="countFees"
                                       placeholder="Введите количество сборов"
                                       class="form-control">
                            <br><input type="text" th:value="${el.ageLimit}" name="ageLimit"
                                       placeholder="Введите возрастное ограничение"
                                       class="form-control">

                            <br><input type="file" name="file" id="file" class="input-file">
                            <label for="file" class="btn btn-tertiary js-labelFile">
                                <i class="icon fa fa-check"></i>
                                <span class="js-fileName">Обновите логотип для фильма</span>
                            </label>


                            <br><br>
                            <button type="submit" class="btn btn-orange">Обновить</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

    </div>
</div>
<script>
    $('tr[data-href]').on("click", function () {
        document.location = $(this).data('href');
    });

    (function () {
        'use strict';
        $('.input-file').each(function () {
            var $input = $(this),
                $label = $input.next('.js-labelFile'),
                labelVal = $label.html();

            $input.on('change', function (element) {
                var fileName = '';
                if (element.target.value) {
                    let path = element.target.value
                    fileName = path.split('\\').pop();
                    // console.log(element.target.value);
                    // $('#upload-img').attr('src', path)
                }
                fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);

            });
        });

    })();
</script>

</body>
</html>