<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="blocks/head :: head"></head>
<body>
<header>
    <title> Добавление фильма </title>
</header>

<div class="container-fluid">
    <div class="row row-main">
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">

            <nav id="sidebarMenu" th:insert="blocks/sidebarMenu :: sidebarMenu"></nav>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

                <div class="container mt-5 mb-5">
                    <h1>Редактирование информации о киносети</h1>
                    <form method="post">
                        <div th:each="el: ${filmnet}">
                            <div class="alert" th:if="${message}" th:text="${message}"></div>

                            <br><input type="text" name="nameFilmNet" th:value="${el.nameFilmNet}"
                                       placeholder="Введите название киносети"
                                       class="form-control">
                            <br><input type="text" name="linkFilmNet" th:value="${el.linkFilmNet}"
                                       placeholder="Добавьте ссылку на сайт киносети"
                                       class="form-control">

                            <br>
                            <button type="submit" class="btn btn-orange mt-10">Обновить информацию о киносети</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>


    </div>
</div>
<script>
    $('tr[data-href]').on("click", function () {
        document.location = $(this).data('href');
    });
</script>

</body>
</html>
