<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:replace="blocks/head">
    <title> Вход </title></head>
<body>


<div class="container-fluid">
    <div class="row row-main">
        <div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <nav id="sidebarMenu" th:insert="blocks/sidebarMenu :: sidebarMenu"></nav>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="text-center">
                <main class="form-signin">
                    <div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                    <form th:action="@{/login}" method="post">
                        <h1 class="h3 mb-3 fw-normal title-page">Войти в аккаунт</h1>
                        <div class="form-floating">
                            <input type="text" name="username" class="form-control search-input" placeholder="логин" required/>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="password" class="form-control search-input" placeholder="пароль" required/>
                        </div>
                        <button class="btn btn-pink" type="submit">Авторизоваться</button>
                    </form>

                    <p> У Вас еще нет учетной записи?
                        <a th:href="@{/registration}"> <br>Зарегистрироваться </a>
                    </p>
                </main>
            </div>
        </main>
    </div>
</div>
</body>
</html>